body {
	color: white;
}

header {
	height: 100px;
}

.main-menu {
	position: static;
}

.contact-info, .about-info {
	background-color: #999999;
	text-align: center;
	height: 700px;
}

.profile-img {
	float: none;
}

.social-med {
	display: inline-block;
	margin: 0 auto;
}

.social-icon {
	width: 60px;
	height: 60px;
}

fieldset {
	border: solid 1px #dcdcdc;
	width: 50%;
	margin: 0 auto;
}

textarea {
	width: 50%;
	height: 100px;
}

/* ABOUT PAGE */

.about-info p {
	width: 55%;
	margin: 0 auto;
}

/* LARGE SMARTPHONES */

/* LARGE SMARTPHONES */

@media only screen and (max-width: 767px) {
	body {
		width: 100%;
	}

	header {
		left: 0;
		width: 100%;
		margin: auto;
		padding: 0;
		text-align: center;
	}

	.menu, .menu li, .menu ul {
		margin: 0 auto;
		padding: 0;
	}

	.main-menu {
		font-size: 25px;
		padding-top: 1em;
	}

	.about-info p {
		width: 90%;
	}

	.about-info {
		height: 100%;
		padding-bottom: 2em;
	}

	footer {
		margin: 0;
	}
}