a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: lightgray;
}

li {
  list-style-type: none;
}

body {
    width: 90%;
    font-family: helvetica;
    background-color: #444444;
    margin: 0 auto;
}



/* HEADER */
header {
    color: #FFFFFF;
    position: relative;
    top: 0px;
    border-bottom: solid;
    background-color: #046380;
    width: 100%;
    height: 200px;
    box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.15)
}

.main-menu li {
  background-color: #046380;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: -5px;
}

.main-menu {
  position:absolute;
  top: 200px;
  right: 20em;
  padding: 0px;
}

.profile-img {
  width: 150px;
  height: 150px;
  background-color: beige;
  border-radius: 50%;
}

.img-index-position {
  position: absolute;
  top: 25px;
  right: 25px;
}

/* MAIN AREA */
.slideshow {
  float: left;
  background-color: gray;
  width: 73%;
  height: 400px;
  margin: 4em 4em 0 0;
}

/* SIDE BAR */
.social, .social-small {
  float: left;
  margin-top: 4em;
}

.social ul, .social-small ul {
  padding: 0;
  margin: 0;
  display: table;
  text-align: center;

}

.social li {
  font-size: 1.5em;
  background-color: #046380;
  padding: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  float: right;
  clear: both;
  width: 100%;
  margin-top: 20%;
}

@media only screen and (max-width: 767px) {

  body {
    width: 100%;
  }

  .main-menu {
    top: 0px;
    left: 0px;
  }

  .menu {
    padding: 0;
  }

  .menu li {
    width: 100%;
  }

  .slideshow {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .social {
    width: 100%;
    margin-top: 1%;
    margin-left: 0;
  }

  .social ul {
    padding: 0;
  }

  .social ul {
    width: 100%;
  }
}
