a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: lightgray;
}

li {
  list-style-type: none;
}

body {
    width: 90%;
    font-family: helvetica;
    background-color: #444444;
    margin: 0 auto;
}



/* HEADER */
header {
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: -8px;
    border-bottom: solid;
    background-color: #046380;
    width: 100%;
    height: 200px;
    padding: 40px 10px 0px;
    box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.15)
 
}

.main-menu li {
  background-color: #046380;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: -5px;
}

.main-menu {
  position:absolute;
  top: 250px;
  right: 250px;
  padding: 0px;
}

.profile-img {
  width: 150px;
  height: 150px;
  background-color: beige;
  border-radius: 50%;
  float: right;
  z-index: 3;
  margin: 1%;
}

/* MAIN AREA */
.slideshow {
  float: left;
  background-color: gray;
  width: 73%;
  height: 400px;
  margin-top: 5%;
  padding-right: 10%;
}

/* SIDE BAR */
.social, .social-small {
  float: left;
  margin: 5% 1%;
}

.social ul, .social-small ul {
  display: table-row;
  text-align: center;

}

.social li {
  font-size: 1.5em;
  background-color: #046380;
  padding: 20px;
  margin: 10px;
}

footer {
  background-color: black;
  color: white;
  float: right;
  clear: both;
  width: 100%;
  margin-top: 20%;
}

@media screen and (max-width: 514px) {

 
}
